main {
  width: 100%;
}
.products,
.prod-header,
.prod-footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.prod-header {
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-bottom: 2px solid #030b1533;
  color: #030b1567;
  padding: 1rem 0;
  margin-top: 2rem;
  margin-bottom: 20px;
}
.prod-header p:first-child {
  width: 424px;
}
.prod-footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 2rem;
}
.prod-footer h3 {
  color: var(--text) !important;
  font-weight: 400;
}
.prod-footer button {
  height: 42px;
  background-color: var(--primary);
  color: white;
  text-transform: uppercase;
  border: 2px solid var(--primary);
  border-radius: 6px;
  font-size: 11px;
  width: 135px;
  align-items: center;
  letter-spacing: 0.53px;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: 20px;
}
.prod-footer button:active {
  background-color: white;
  color: var(--primary);
}

.prod-footer SPAN {
  font-weight: 700;
  margin-left: 20px;
}
.products .card:not(:last-child) {
  margin-bottom: 10px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.card img {
  width: 150px;
  height: 100px;
  margin-right: 40px;
  object-fit: cover;
}
.prc {
  width: 60px;
}
.left {
  display: flex;
  align-items: center;
}
.card h3 {
  color: var(--text);
  font-weight: 400;
}
.text-cont {
  width: 300px;
}
.text-cont p {
  opacity: 0.8;
  font-size: 0.9rem;
  margin-top: 5px;
}
.quantity {
  display: flex;
}
.quantity svg {
  height: 28px;
  width: 28px;
  margin-top: 8px;
  margin-left: 20px;
  cursor: pointer;
}
.quantity svg:hover {
  color: #ef6454;
}
.quantity input {
  height: 40px;
  outline: none;
  border: 2px solid var(--primary);
  background-color: white;
  text-align: center;
  width: 50px;
  font-weight: bold;
  font-size: 1.3rem;
  caret-color: transparent;
  cursor: default;
}
.quantity button {
  width: 50px;
  padding: 0 !important;
  height: 44px;
  box-sizing: border-box;
  align-self: center;
  background-color: var(--primary);
  color: #fff;
  border: none;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border: 2px solid var(--primary);
  cursor: pointer;
  transition: 50ms;
}
.quantity button:active {
  background-color: white;
  color: var(--primary);
}
#decrease {
  border-radius: 8px 0 0 8px;
}
#increase {
  border-radius: 0 8px 8px 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
