.header-home::before {
  content: "";
  position: absolute;
  width: 100% !important;
  height: 2px;
  background-color: var(--primary) !important;
  bottom: 0;
  opacity: 0.5;
}
main {
  width: 100%;
}
.banner {
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: url(../assets/andrey-trusov-PPfMBZX_PaA-unsplash.jpg);
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  padding-left: 10vw;
  box-sizing: border-box;
}
.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.text-content p {
  margin: 15px 0 20px 0;
}
.text-content button {
  background-color: var(--primary);
  color: #fff;
  border: none;
  padding: 15px 20px;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-radius: 10px;
  border: 2px solid var(--primary);
  cursor: pointer;
  transition: 50ms;
}
.text-content button:active {
  background-color: white;
  color: var(--primary);
}
.text-content span {
  color: var(--primary);
}

.specials {
  width: 100%;
  margin: 50px 0;
}
.spec-wrapper {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.spec-wrapper div:not(:last-child) {
  margin-right: 70px;
}
.card {
  display: flex;
  align-items: center;
  border: 2px solid var(--primary);
  padding: 10px 20px;
  border-radius: 5px;
}
.card h2 {
  color: var(--primary);
}
.card svg {
  height: 50px;
  width: 50px;
  margin-right: 25px;
  opacity: 0.7;
}
.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}
.collection h2 {
  margin-bottom: 40px;
}
.prod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  text-align: center;
  padding: 15px 0 20px 0;
  justify-content: space-between;
}
.prod-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prod-card a:hover .itm-title {
  text-decoration: underline;
}

.prod-card img {
  height: 240px;
  width: 240px;
  margin-bottom: 20px;
}
.products {
  display: flex;
}
.products div:not(:last-child) {
  margin-right: 30px;
}
.products button {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
  height: 40px;
  border-radius: 6px;
  width: 150px;
  cursor: pointer;
  margin-top: 10px;
  transition: 50ms;
}
.products button:active {
  background-color: white;
  color: var(--primary);
}
.description {
  width: 100%;
  margin-bottom: 3rem;
}
.desc-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.desc-wrapper section:not(:last-child) {
  margin-bottom: 2.5rem;
}
section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cat-collection {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.collection-card {
  width: 460px;
  height: 460px;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.collection-card img {
  width: 380px;
  height: 380px;
  object-fit: cover;
}
.collection-card p {
  position: absolute;
  font-size: 1.2rem;
  background-color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
  top: calc(190px - 14px);
  padding: 0 6px;
  overflow: hidden;
}
.col-card-1 p {
  left: calc(190px - 245.3px / 2);
}
.col-card-1 p::before {
  content: "CUSTOMER FAVORITES";
}

.col-card-2 p {
  left: calc(190px - 76.8px / 2);
}
.col-card-2 p::before {
  content: "SALES";
}

.col-card-3 p {
  left: calc(190px - 188.4px / 2);
}
.col-card-3 p::before {
  content: "LIMITED EDITION";
}

.collection-card p::before {
  background-color: var(--primary);
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  margin-left: -6px;
  padding: 0 6px;
  position: absolute;
  transition: 250ms;
  transform: translateY(29px);
}
.collection-card:hover p::before {
  transform: translateY(0px);
}
